@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

:root {
  /* Colours taken from https://ethanschoonover.com/solarized/ */
  --sol-base03:  #002b36;
  --sol-base02:  #073642;
  --sol-base01:  #586e75;
  --sol-base00:  #657b83;
  --sol-base0:   #839496;
  --sol-base1:   #93a1a1;
  --sol-base2:   #eee8d5;
  --sol-base3:   #fdf6e3;
  --sol-yellow:  #b58900;
  --sol-orange:  #cb4b16;
  --sol-red:     #dc322f;
  --sol-magenta: #d33682;
  --sol-violet:  #6c71c4;
  --sol-blue:    #268bd2;
  --sol-cyan:    #2aa198;
  --sol-green:   #859900;

  --sexy-radius: 16px;
  --sexy-shadow: drop-shadow(0 0 0.75rem var(--sol-base03));
  --bold-weight: 600;

  --bg-standard: var(--sol-base3);
  --fg-standard: var(--sol-base02);

  --bg-inverse: var(--fg-standard);
  --fg-inverse: var(--bg-standard);

  --bg-emphasis: var(--sol-base2);
}


/* ----------------------
    Reset (see https://alligator.io/css/minimal-css-reset/)
   ---------------------- */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}


/* ----------------------
    Layout
   ---------------------- */

#main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

#col-left {
  width: 25vw;
}

#col-main {
  width: 50vw;
}

#col-right {
  width: 25vw;
}

#col-left > * {
  width: 25vw;
  position: fixed;
  top: 0;
  bottom: 0;
}

#col-right > * {
  width: 25vw;
  position: fixed;
  top: 0;
  bottom: 0;
}


/* ----------------------
    Basics
   ---------------------- */

html, body {
  font-family: 'Work Sans', sans-serif;
  color: var(--fg-standard);
  background: var(--bg-standard);
}

h1, h2 {
  margin: 13px 0;
  font-size: larger;
  font-weight: var(--bold-weight);
}

h1, h2, h3, h4 {
  font-weight: var(--bold-weight);
}

a {
  text-decoration: none;
  font-weight: var(--bold-weight);
}

a, a:link, a:visited {
  color: var(--fg-standard);
}

a:hover {
  color: var(--sol-magenta);
}

p {
  margin: 1em 0;
}


/* ----------------------
    Miscellaneous
   ---------------------- */

.how-to-use {
  display: none;
}


/* ----------------------
    Responsive adjustments
   ---------------------- */

@media (max-width: 512px) {
  .hide-tiny {
    display: none;
  }

  .pill {
    display: inline-block;
  }
}

@media (max-width: 768px) {
  .hide-small {
    display: none;
  }
}

@media not screen and (max-width: 1024px) {
  .show-medium {
    display: none;
  }
}

@media (max-width: 1024px) {
  .hide-medium {
    display: none;
  }

  /* Compress table layout */
  table {
    width: 100vw;
  }

  td, th {
    padding: 10px 5px;
  }

  thead th {
    font-size: smaller;
    border-radius: inherit !important;
  }

  img {
    max-width: 75px;
    max-height: 75px;
  }

  .sold-out {
    font-size: x-small;
  }

  .brewery, .brewery-info {
    font-size: smaller;
  }

  /* Bottom-right to avoid blocking table header */
  .menu-hamburger {
    border-radius: inherit;
    border-top-left-radius: var(--sexy-radius);
    top: inherit;
    bottom: 0;
  }

  /* Useful when no affordance from hover */
  .how-to-use {
    display: inherit;
    background: var(--bg-inverse);
    color: var(--fg-inverse);
    text-align: center;
    font-size: smaller;
    padding: 5px 0;
  }

  .sidebar {
    position: inherit;
    height: inherit;
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  nav {
    background: var(--bg-inverse);
    text-align: center;
    padding: 5px 0;
    margin: 0;
  }

  nav li {
    display: inline;
  }

  .sidebar a, .sidebar a:link, .sidebar a:visited {
    color: var(--fg-inverse);
    font-weight: var(--bold-weight);
  }

  .sidebar a:hover {
    color: var(--sol-magenta);
  }
}
