@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

:root {
  /* Colours taken from https://ethanschoonover.com/solarized/ */
  --sol-base03:  #002b36;
  --sol-base02:  #073642;
  --sol-base01:  #586e75;
  --sol-base00:  #657b83;
  --sol-base0:   #839496;
  --sol-base1:   #93a1a1;
  --sol-base2:   #eee8d5;
  --sol-base3:   #fdf6e3;
  --sol-yellow:  #b58900;
  --sol-orange:  #cb4b16;
  --sol-red:     #dc322f;
  --sol-magenta: #d33682;
  --sol-violet:  #6c71c4;
  --sol-blue:    #268bd2;
  --sol-cyan:    #2aa198;
  --sol-green:   #859900;

  --sexy-radius: 16px;
  --sexy-shadow: drop-shadow(0 0 0.75rem var(--sol-base03));
  --bold-weight: 600;

  --bg-standard: var(--sol-base3);
  --fg-standard: var(--sol-base02);

  --bg-inverse: var(--fg-standard);
  --fg-inverse: var(--bg-standard);

  --bg-emphasis: var(--sol-base2);
}


/* ----------------------
    Reset (see https://alligator.io/css/minimal-css-reset/)
   ---------------------- */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}


/* ----------------------
    Layout
   ---------------------- */

#main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

#col-left {
  width: 25vw;
}

#col-main {
  width: 50vw;
}

#col-right {
  width: 25vw;
}

#col-left > * {
  width: 25vw;
  position: fixed;
  top: 0;
  bottom: 0;
}

#col-right > * {
  width: 25vw;
  position: fixed;
  top: 0;
  bottom: 0;
}


/* ----------------------
    Basics
   ---------------------- */

html, body {
  font-family: 'Work Sans', sans-serif;
  color: var(--fg-standard);
  background: var(--bg-standard);
}

h1, h2 {
  margin: 13px 0;
  font-size: larger;
  font-weight: var(--bold-weight);
}

h1, h2, h3, h4 {
  font-weight: var(--bold-weight);
}

a {
  text-decoration: none;
  font-weight: var(--bold-weight);
}

a, a:link, a:visited {
  color: var(--fg-standard);
}

a:hover {
  color: var(--sol-magenta);
}

p {
  margin: 1em 0;
}


/* ----------------------
    Miscellaneous
   ---------------------- */

.how-to-use {
  display: none;
}


/* ----------------------
    Table
   ---------------------- */

table {
  border-collapse: collapse;
  width: 100%;
}

thead th {
  background: var(--bg-inverse);
  color: var(--fg-inverse);
  top: 0px;
  font-size: larger;
  z-index: 1;
  position: sticky;
}

thead th:first-child {
  border-bottom-left-radius: var(--sexy-radius);
}

thead th:last-child {
  border-bottom-right-radius: var(--sexy-radius);
}

td, thead th {
  text-align: center;
  padding: 10px 10px;
}

tbody th {
  text-align: center;
  padding: 16px 0;
}

tbody th .table-section {
  background: var(--sol-base00);
  color: var(--sol-base3);
  border-radius: var(--sexy-radius);
  padding: 5px 10px;
}

td img {
  vertical-align: middle;
}

th.sort-none:hover, th.sort-asc:hover, th.sort-desc:hover {
  cursor: pointer;
  color: var(--sol-magenta);
}

th.sort-asc::after {
  margin-left: 5px;
  content: "▼";
  font-size: smaller;
}

th.sort-desc::after {
  margin-left: 5px;
  content: "▲";
  font-size: smaller;
}

td.thumbnail {
  position: relative;
}

.brewery a {
  font-weight: normal;
}

.name {
  text-align: left;
  max-width: 300px;
}

/* TODO - rename to avoid clash with summary tag */
.summary {
  font-size: smaller;
  margin-top: 5px;
  margin-bottom: 5px;
}

.price .summary {
  white-space: nowrap;
}

.price details {
  background-color: var(--bg-emphasis);
  border-radius: var(--sexy-radius);
  font-size: smaller;
}

.price details > summary {
  font-weight: var(--bold-weight);
  padding: 5px 10px;
  outline: none;    /* Remove irritating border when we have focus */
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
}

.price details > .offer {
  padding-bottom: 5px;
}

.pill {
  color: var(--sol-base3);
  font-size: smaller;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 2px 10px;
  border-radius: var(--sexy-radius);
  white-space: nowrap;
}

.pill.new {
  background: var(--sol-magenta);
}

.pill.just-added {
  background: var(--sol-base01);
}

.pill.keg {
  background: var(--sol-green);
}

.pill.mixed {
  background: var(--sol-violet);
}

.size {
  white-space: nowrap;
}

.sold-out {
  color: var(--sol-base3);
  background: var(--sol-red);
  padding: 2px 10px;
  font-size: smaller;
  border-radius: var(--sexy-radius);
  font-weight: var(--bold-weight);
  filter: var(--sexy-shadow);

  /* Rotate and centre above image */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%) rotate(-20deg);
  transform-origin: center;
}

img {
  mix-blend-mode: multiply;   /* No white backgrounds, plus makes things look sultry */
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
  border-radius: var(--sexy-radius);
}



/* ----------------------
    Stats
   ---------------------- */

.stats {
  white-space: nowrap;
}

.stats tr:nth-child(even) {
  background: var(--bg-emphasis);
}

.stats .delta {
  font-size: small;
  padding-left: 5px;
  color: var(--sol-blue);
}

.delta.better {
  color: var(--sol-green);
}

.delta.worse {
  color: var(--sol-red);
}


/* ----------------------
    Left sidebar
   ---------------------- */

.sidebar-left {
  padding: 30px;
  padding-right: 60px;
  line-height: 1.5em;
  font-size: medium;
}

address {
  position: fixed;
  bottom: 0;
  padding-bottom: 30px;
  font-style: normal;
  font-size: small;
}

address .social a {
  font-size: xx-large;
  margin-right: 20px;
}

address .lol {
  margin-top: 5px;
}

.contact {
  font-size: small;
  margin: 10px 0;

  /* Make it overflow with ellipsis */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.contact a {
  font-weight: inherit;
}


/* ----------------------
    Right sidebar
   ---------------------- */

.sidebar-right {
  padding: 30px;
  padding-left: 60px;
}

.sidebar-right a {
  font-weight: inherit;
}

.sidebar-right li {
  margin: 20px;
}


/* ----------------------
    Menu
   ---------------------- */

.menu-hamburger {
  background: var(--bg-inverse);
  color: var(--fg-inverse);
  filter: var(--sexy-shadow);
  border-bottom-left-radius: var(--sexy-radius);
  right: 0;
  top: 0;
  z-index: 2;
  position: fixed;
  padding: 10px;
  font-size: smaller;
}

.menu-hamburger div:hover {
  color: var(--sol-base1);
  cursor: pointer;
}

.menu {
  background: var(--bg-inverse);
  color: var(--fg-inverse);
  filter: var(--sexy-shadow);

  padding: 10px;
  padding-left: 30px;

  /* Overlay everything else */
  z-index: 2;
  position: fixed;
  right: 0;
  top: 0;
  min-width: 20vw;
  height: 100vh;

  /* No scroll */
  overflow-x: hidden;
  overflow-y: hidden;
}

.menu-button {
  font-size: x-large;
  font-weight: var(--bold-weight);
  text-decoration: none;
  text-align: right;
  user-select: none;
}

.menu-button span:hover {
  color: var(--sol-base1);
  cursor: pointer;
}

/* Prevent clashing with info */
.menu .content {
  overflow-y: auto;
  max-height: 75vh;
}

.menu .section {
  margin-bottom: 30px;
}

.menu .info {
  font-size: small;
  position: absolute;
  margin: 0;
  bottom: 40px;
  right: 20px;
  text-align: right;
}

.all-or-none {
  font-weight: var(--bold-weight);
  font-size: smaller;
  padding: 10px 20px 10px 0;
  user-select: none;
  cursor: pointer;
}

.all-or-none:hover {
  color: var(--sol-base1);
}


/* ----------------------
    Selectable items
   ---------------------- */

.selectable {
  display: block;
  position: relative;
  padding-left: 1.3em;
  margin: 0.6em 0;
  cursor: pointer;
  user-select: none;
}

.selectable input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.selectable .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1em;
  width: 1em;
  line-height: 1em;
  background-color: var(--bg-standard);
  color: var(--fg-standard);
  border-radius: 4px;
  text-align: center;
}

.selectable:hover {
  color: var(--sol-base1);
}

.selectable:hover .checkmark {
  background-color: var(--sol-base01);
  color: var(--sol-base3);
}


/* ----------------------
    Tooltips
   ---------------------- */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  background-color: var(--sol-base03);
  color: var(--sol-base3);

  visibility: hidden;
  opacity: 0;

  width: 30vw;
  font-size: small;
  padding: 10px;
  border-radius: var(--sexy-radius);
  filter: var(--sexy-shadow);

  position: absolute;
  z-index: 2;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.tooltip .tooltip-text .disclaimer {
  font-size: small;
  font-weight: var(--bold-weight);
  text-align: right;
}


/* ----------------------
    Favourite icon
   ---------------------- */

.favourite-icon {
  cursor: pointer;
  color: var(--sol-magenta);
}


/* ----------------------
    Responsive adjustments
   ---------------------- */

@media (max-width: 512px) {
  .hide-tiny {
    display: none;
  }

  .pill {
    display: inline-block;
  }
}

@media (max-width: 768px) {
  .hide-small {
    display: none;
  }
}

@media not screen and (max-width: 1024px) {
  .show-medium {
    display: none;
  }
}

@media (max-width: 1024px) {
  .hide-medium {
    display: none;
  }

  /* Compress table layout */
  table {
    width: 100vw;
  }

  td, th {
    padding: 10px 5px;
  }

  thead th {
    font-size: smaller;
    border-radius: inherit !important;
  }

  img {
    max-width: 75px;
    max-height: 75px;
  }

  .sold-out {
    font-size: x-small;
  }

  .brewery, .brewery-info {
    font-size: smaller;
  }

  /* Bottom-right to avoid blocking table header */
  .menu-hamburger {
    border-radius: inherit;
    border-top-left-radius: var(--sexy-radius);
    top: inherit;
    bottom: 0;
  }

  /* Wider */
  .menu {
    width: 50vw;
  }

  /* Useful when no affordance from hover */
  .how-to-use {
    display: inherit;
    background: var(--bg-inverse);
    color: var(--fg-inverse);
    text-align: center;
    font-size: smaller;
    padding: 5px 0;
  }

  .sidebar {
    position: inherit;
    height: inherit;
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  nav {
    background: var(--bg-inverse);
    text-align: center;
    padding: 5px 0;
    margin: 0;
  }

  nav li {
    display: inline;
  }

  .sidebar a, .sidebar a:link, .sidebar a:visited {
    color: var(--fg-inverse);
    font-weight: var(--bold-weight);
  }

  .sidebar a:hover {
    color: var(--sol-magenta);
  }
}
