table.sortable {
  border-collapse: collapse;
  width: 100%;
}

table.sortable thead th {
  background: var(--bg-inverse);
  color: var(--fg-inverse);
  top: 0px;
  font-size: larger;
  z-index: 1;
  position: sticky;
}

table.sortable thead th:first-child {
  border-bottom-left-radius: var(--sexy-radius);
}

table.sortable thead th:last-child {
  border-bottom-right-radius: var(--sexy-radius);
}

table.sortable td, table.sortable thead th {
  text-align: center;
  padding: 10px 10px;
}

table.sortable tbody th {
  text-align: center;
  padding: 16px 0;
}

@media (max-width: 1024px) {
  table.sortable td, table.sortable th {
    padding: 10px 5px;
  }

  table.sortable thead th {
    font-size: smaller;
    border-radius: inherit !important;
  }
}

.section {
  background: var(--sol-base00);
  color: var(--sol-base3);
  border-radius: var(--sexy-radius);
  padding: 5px 10px;
}

th.sort:hover {
  cursor: pointer;
  color: var(--sol-magenta);
}

th.asc::after {
  margin-left: 5px;
  content: "▼";
  font-size: smaller;
}

th.desc::after {
  margin-left: 5px;
  content: "▲";
  font-size: smaller;
}
