@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

:root {
  /* Colours taken from https://ethanschoonover.com/solarized/ */
  --sol-base03:  #002b36;
  --sol-base02:  #073642;
  --sol-base01:  #586e75;
  --sol-base00:  #657b83;
  --sol-base0:   #839496;
  --sol-base1:   #93a1a1;
  --sol-base2:   #eee8d5;
  --sol-base3:   #fdf6e3;
  --sol-yellow:  #b58900;
  --sol-orange:  #cb4b16;
  --sol-red:     #dc322f;
  --sol-magenta: #d33682;
  --sol-violet:  #6c71c4;
  --sol-blue:    #268bd2;
  --sol-cyan:    #2aa198;
  --sol-green:   #859900;

  --sexy-radius: 16px;
  --sexy-shadow: drop-shadow(0 0 0.75rem var(--sol-base03));
  --bold-weight: 600;
}

html, body {
  font-family: 'Work Sans', sans-serif;
  color: var(--sol-base01);
  background: var(--sol-base3);
  margin: 0;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  min-width: 60%;
}

th {
  background: var(--sol-base2);
  position: sticky;
  top: 0px;
  font-size: larger; 
  z-index: 1; 
}

th:first-child {
  border-bottom-left-radius: var(--sexy-radius);
}

th:last-child {
  border-bottom-right-radius: var(--sexy-radius);
}

td, th {
  text-align: center;
  padding: 10px;
}

td img {
  vertical-align: middle;
}

table a {
  font-weight: var(--bold-weight);
  text-decoration: none;
}

table a:link {
  color: var(--sol-base01);
}

table a:visited {
  color: var(--sol-base00);
}

table a:hover, th.sort-none:hover, th.sort-asc:hover, th.sort-desc:hover {
  cursor: pointer;
  color: var(--sol-blue);
}

th.sort-asc::after {
  margin-left: 5px;
  content: "▼";
  font-size: smaller;
}

th.sort-desc::after {
  margin-left: 5px;
  content: "▲";
  font-size: smaller;
}

td.thumbnail {
  position: relative;
}

.name {
  text-align: left;
  max-width: 300px;
}

.summary {
  font-size: smaller;
  margin-top: 5px;
  margin-bottom: 5px;
}

.pill {
  color: var(--sol-base3);
  font-size: smaller;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2px 10px;
  border-radius: var(--sexy-radius);
}

.violet {
  background: var(--sol-violet);
}

.magenta {
  background: var(--sol-magenta);
}

.size {
  white-space: nowrap;
}

.sold-out {
  color: var(--sol-base3);
  background: var(--sol-red);
  padding: 2px 10px;
  border-radius: var(--sexy-radius);
  font-weight: var(--bold-weight);
  filter: var(--sexy-shadow);

  /* Rotate and centre above image */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%) rotate(-20deg);
  transform-origin: center;
}

img {
  mix-blend-mode: multiply;
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
  border-radius: var(--sexy-radius);
}

#menu {
  background: var(--sol-base02);
  color: var(--sol-base2);
  filter: var(--sexy-shadow);
  border-bottom-left-radius: var(--sexy-radius);
  right: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  overflow-x: hidden;
}

#menu .button {
  font-size: xx-large;
  font-weight: var(--bold-weight);
  text-decoration: none;
  text-align: right;
  user-select: none;
}

#menu .button:hover {
  color: var(--sol-cyan);
  cursor: pointer;
}

#menu .collapsed {
  padding: 10px;
}

#menu .expanded {
  padding: 10px 20px 10px 30px;
  height: 100vh;
  min-width: 15vw;
  position: relative;
}

#menu h4 {
  margin: 0;
  padding: 0;
}

#menu .section {
  margin: 30px 0;
}

#menu .copyright {
  font-size: small;
  position: absolute;
  margin: 0;
  bottom: 40px;
  right: 20px;
}

#menu a {
  font-weight: var(--bold-weight);
  cursor: pointer;
  text-decoration: none;
}

#menu a:hover {
  color: var(--sol-base1);
}

#menu a:visited {
  color: inherit;
}

.allOrNone {
  font-weight: var(--bold-weight);
  font-size: smaller;
  padding: 10px 20px 10px 0;
  user-select: none;
  cursor: pointer;
}

.allOrNone:hover {
  color: var(--sol-base1);
}

/* ----------------------------- */

.selectable {
  display: block;
  position: relative;
  padding-left: 1.3em;
  margin: 0.4em 0;
  cursor: pointer;
  user-select: none;
}

.selectable input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.selectable .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1em;
  width: 1em;
  background-color: var(--sol-base3);
  color: var(--sol-base02);
  border-radius: 4px;
  text-align: center;
}

.selectable:hover {
  color: var(--sol-base1);
}

.selectable:hover .checkmark {
  background-color: var(--sol-base01);
  color: var(--sol-base3);
}

/* ----------------------------- */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltipText {
  background-color: var(--sol-base03);
  color: var(--sol-base3);

  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s linear, opacity 0.5s linear;

  width: 30vw;
  font-size: small;
  padding: 10px;
  border-radius: var(--sexy-radius);
  filter: var(--sexy-shadow);
 
  position: absolute;
  z-index: 2;
}

.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

.tooltipText .disclaimer {
  font-size: small;
  font-weight: var(--bold-weight);
  text-align: right;
}